.logo {
    width: 120px;
    display: block;
    margin: 0 auto;
}

.title {
    /* H2 */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 135%;
    color: #228BE6;

}