.headCover {
    width: 100%;
    min-height: 40%;
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    padding: 1rem 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 6px 6px;

    h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 135%;
    }

    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 155%;
    }

    .actions {
        display: flex;
        width: 100%;
        gap: 1rem;
    }
}